.main-column {
	width: 100%;
	margin-bottom: 10px; 

	@mixin atMedium {
	width: 66.666%;
	height: 100%;
	} 
}

/*.side-bar-column {
	width: 100%;
	margin-bottom: 10px; 

	@mixin atMedium {
	float: right; 
	width: 33.333%;
	height: 100%;
	} 
}*/

#sidebar_news_right_1 {
	float: right;
	width: 33.3333%;
	height: 100%;
}