 .grid-container {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 20px;

        @mixin atMedium {
        display: flex;
        /*flex-wrap: wrap;
*/       width: 100%; 
        margin: 0 auto;
        }

    }
.grid-container *{
        box-sizing: border-box; 
    }

.grid-container h2  {
	text-align: center;
	text-transform: uppercase;
}

.grid-container a {
	/*font-size: 14px;*/
	letter-spacing: 1px;
	text-decoration: none;

	@mixin atMedium {
		/*font-size: 18px;*/
		letter-spacing: 1px;
		text-decoration: none;
	}
}

.grid-container img {
	width: 100%;
	border: 1px solid black;

	&::hover {
		opacity: 0.5;
	}

	@mixin atMedium {
	border: 1px solid black;

	&:hover {
		opacity: 0.5;
		cursor: pointer;
		}

	}

	@mixin atLarge {
	border: 1px solid black;

	&::hover {
		opacity: 0.5;
	}

	}
}

/* Columns for Front Page */ 
.column-left {
	width: 100%; 
	padding: 10px;
	text-align: center;

	@mixin atMedium {
	width: 33.333%; 
	height: 100%;
	}  
}

.column-right { 
	width: 100%;
	padding: 10px; 
	text-align: center;

	@mixin atMedium {
	width: 33.333%;
	height: 100%;
	} 
}

.column-centre { 
	width: 100%; 
	padding: 10px;
	text-align: center;
	
	@mixin atMedium {
	width: 33.333%; 
	height: 100%;
	}
}

/* columns for pages */ 
/*.two-col-left {  
	float: left;
	width: 66.66%;
}

.two-col-right {
	float: right;
	width: 33.33%;
}*/