 .grid-container {
        width : 100%;
        max-width : 1200px; 
    }
.grid-container *{
        box-sizing: border-box; 
    }

/*-- our cleafix hack -- */ 
  /*  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;*/
 /*   }*/
/*[class*='three-column-grid'] {
	float: left;
	min-height: 1px;
	width: 33.3%;    
}*/

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; border-left: 1px solid black; }
.column-center{ display: inline-block; width: 33%; border-left: 1px solid black; }

/*.row {
	float: right; 
}*/

/*[class*='col-'] {
float: left;
min-height: 1px; 
width: 33.3%; 
}

[class*='col-'] {
float: left;
min-height: 1px; 
width: 33.3%; 
}*/
