.site-footer {
	display: flex;
	width: 100%;
	background-color: black;
	opacity: .7;
	overflow: hidden;
	padding: .5rem 0;
}

.site-footer ul li {
	padding-right: 5px;
}

.site-footer a {
	color: grey;
	text-decoration: none;

	&:hover {
		color: $mainRed;
		cursor: pointer;
}

}

.mailing-list {
	color: grey;
	margin-left: 120px;
	border-right: 2px dotted grey;
	margin-right: 60px;
}

.mailing-list input {

	position: inherit;
	height: 40px;
	width: 190px;
	bottom: 10px;
	border: 10px;
}

#mc-embedded-subscribe {
	text-transform: uppercase;
	width: 140px;
}

.clear {
	padding-left: 25px;
}

.footer-menu span {
color: grey; 
font-size: 15px;
position: relative;
top: 50px;
}

.footer-menu nav {
	
}


