/*.site-footer {
	overflow: hidden; 
	background-color: black;
	padding: .5rem 0; /* so that the margin on the paragraph isn't visibly portruding out of the container div */ 
	/*width: 100%;
	}*/
/*
.site-footer nav {
	color: #FFF;
	font-size: 0.8rem;
	margin: 10px 10px 10px 10px; 
	line-height: 20px;
}

.site-footer nav ul li a {
	color: #FFF;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #FFF;
}

.site-footer nav ul li:last-of-type {
	border-right: none;
}

div.hd-search {
	float: right;
}

.blog-info p {
	color: #FFF;
}*/