/* Columns for Front Page */ 

.column-left img {
	flex: 1; 
	width: 350px;
	border: 1px solid grey;
	border-radius: 1rem 8rem 1rem; 

    &:hover {
    	width: 355px;
    }

}

.column-right img {
	flex: 3;
	margin-left: 10px;
	width: 350px;
	border: 1px solid grey;
	border-radius: 2rem;

	 &:hover {
    	opacity: .8;
    }
}

.column-centre img {
	flex: 2;
	margin: 10px 0;
	width: 350px;
	border: 3px solid black;
	border-radius: 50%; 
}

.grid-container h2  {
	text-align: center;
}

