.grid-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 30px;
}

.column-left h2 {
	flex: 1;
}


.column-centre h2 {
	flex: 2;
}

.column-right h2 {
	flex: 3;
	margin-left: 0;
}

.front-page-section {
	background-color: blue;
}

