/* Columns for Front Page */ 

.column-left img {
	flex: 1; 
	width: 350px;
	height: 350px;
	border: 1px solid black;

    &:hover {
    	opacity: .8;
    }

}

.column-right img {
	flex: 3;
	margin-left: 10px;
	width: 350px;
	height: 350px;
	border: 1px solid black;

	 &:hover {
    	opacity: .8;
    }
}

.column-centre img {
	flex: 2;
	margin: 10px 0;
	width: 350px;
	height: 350px;
	border: 1px solid black;

	 &:hover {
    	opacity: .8;
    }
}

.grid-container h2  {
	text-align: center;
	text-transform: uppercase;
}

.single-column-option img {
	width: 100%;
}



