.site-header {
	background-color: ;
	width: 100%;
	/*padding: 50px;*/
	margin-bottom: 80px; 
}

.site-header h1 a {
	font-weight: 300;
	font-size: 5rem;
	text-align: center;
	opacity: .8;
	letter-spacing: 10px;
	color: black;
	position: relative;
	top: 10px;
    left: 25%;
    right: 25%; 
	/*padding: 10px;*/
	margin: 20px 0 20px 0;
}


.site-header h1 a:link,
.site-header h1 a:visited {
	text-decoration: none;
}


/*.site-header h5 {
	color: black;
	font-weight: 300;
	font-size: 1rem;
	opacity: .8;
	padding: 10px;
}*/
