.site-header {
	background-color: $mainRed;
	width: 100%;
	border-bottom: 5px solid #242424;
	padding: 5px 0 0 0;
}

.site-header h1 a {
	font-weight: 300;
	font-size: 3rem;
	opacity: .8;
	color: black;
	position: relative;
	top: 0px;
	padding: 10px; 
}

.site-header h1 a:link,
.site-header h1 a:visited {
	text-decoration: none;
}

.site-header h5 {
	color: black;
	font-weight: 300;
	font-size: 1rem;
	opacity: .8;
	padding: 10px;
}
