#social-media-icons a {
	color: black; 
	cursor: pointer;
	text-decoration: none;
	padding: 1px;

	&:hover {
		color: $mainRed;
}

}
.social-media-icons-header {
	display: none;

	@mixin atMedium {
	display: block;
	font-size: 16px;
	text-align: center;
	float: right;
	}
}

.social-media-icons-footer {
	color: grey;
	text-align: center;
	margin: 10px;

	@mixin atMedium {
	color: grey;
	}
}

.social-media-icons-footer address {
	display: inline;
}

#social-media-icons-footer i {
	margin: 10px;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 50%;


		&:hover {
		color: $mainRed;
}
}

#phone-icon {
	font-size: 16px;
	padding-top: 5px;
	padding-left: 1.8px;
}
