#social-media-icons a {
	color: black; 
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: $mainRed;
}

}
.social-media-icons-header {
	font-size: 10px;
	text-align: center;
	float: right;

	@mixin atMedium {
	font-size: 14px;
	text-align: center;
	float: right;
	}
}

.social-media-icons-footer {
	color: grey;
	display: inline-block;
	text-align: center;
	padding-right: 1rem; 

	@mixin atMedium {
	color: grey;
	position: relative;
	left: 65vw;
	padding-top: 20px;
	}
}

