/* Primary Nav Menu */
.site-nav {
	border-top: 4px solid $mainRed;
}

.site-nav a {
	/*padding: 30px;
	margin: 20px 0 20px 0;*/
	color: black;

		&:hover {
		color: $mainRed;
	}
}

.site-nav nav ul li a {
	color: black;
}

/*a:link {
	color: black;
}
nav ul li a:active {
	color: $mainRed;
}*/

.site-nav ul {
	position: absolute;
	top: 20%;
	left: 25%;
	width: 100%;
	padding-top: 40px; /* space between ul and header */ 
}

.site-nav li { 
	float: left;
	display: block;
	text-align: left;
	padding-right: 40px; /* space between list items */ 
	/*position: relative;
	top: 50%;*/
}