/* Primary Nav Menu */
.site-nav {
	border-bottom: 5px solid $mainRed;
}
.site-nav a {
	/*padding: 30px;
	margin: 20px 0 20px 0;*/
	color: black;

		&:hover {
		color: $mainRed;
}

/*.site-nav ul li a:link, 
.site-nav li a:active {
	text-decoration: underline;
	color: #FFF; 
}*/

}
.site-nav ul {
	position: absolute;
	top: 20%;
	left: 25%;
	width: 100%;
	color: black;
	padding: 10px; /* space between ul and header */ 
	margin: 20px 0 20px 0; /* space between ul and h1 */ 
}

.site-nav li { 
	float: left;
	display: block;
	text-align: left;
	padding-right: 40px; /* space between list items */ 
	/*position: relative;
	top: 50%;*/
}