/* Content Area */
.post-container {
	width: 100%;

	@mixin atMedium {
	display: flex;
	max-width: 850px;
	margin: 0 auto;
	}
}

.main-column {
	width: 100%

	@mixin atMedium {
	width: 66.666%;
	height: 100%;
	} 
}

.blog-page-title {
	font-size: 20px;

	@mixin atMedium {
	font-size: 30px;
	}
}

.post-container h2 {
	font-size: 18px;
}

article.post {
	border-bottom: 1px dotted #DDD;
	margin-bottom: 20px;
}

article.post:last-of-type {
	border-bottom: none;
}

article.post-link {
	font-size: 125%;
	padding: 20px 20px 1px 20px;
	border-bottom: none;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
}

.mini-meta {
	font-size: 68%;
	margin: 0;
	color: #777;
	display: block;
}

.mini-meta a {
	color: #777;
	text-decoration: none;
}

.wp-embedded-content {
	width:100% !important;
	min-height:270px !important;

	@mixin atMedium {
		min-height:270px !important;
		width:90% !important;
	}
}
