/*#searchbar {
	float: left;
}*/

.hd-search #s {
	position: relative;
	height: 30px;
	width: 150px;
	border: none;
	border: 1px solid grey;
	border-radius: 1rem;
	opacity: .3;	
}

.hd-search {
	display: none;

	@mixin atLarge {
	display: block;
	float: left;
	max-height: 40px;
	}
}

input#searchsubmit {
	background: none;
	border: .5px solid grey;
	border-radius: 8px;
}