#searchbar {
	float: left;
	max-width: 15%;

	/*@mixin atSmall {
	display: none;
	}*/
}

.hd-search #s {
	position: relative;
	height: 30px;
	width: 150px;
	border: none;
	border: 1px solid grey;
	border-radius: 1rem;
	opacity: .3;	
}

.hd-search {
	float: left;
	max-height: 40px;
}

.hd-search form {
	display: none;

	@mixin atLarge {
	position: absolute;
	}
}