#sidebar_news_right_1 div {
	width: 100%;

	@mixin atMedium {
	width: 200px;
	}
}

.side-bar {
	margin-left: 0px;

	@mixin atMedium {
		margin-left: 30px;
	}
}

.side-bar ul {
	list-style: none;
}

.widget-item {
	margin-bottom: 20px;
	border-radius: 5px;
}

.widget-item ul {
	margin: 0;
	padding: 0;
}

.widget-item ul li {
	list-style-position: inside;
	line-height: 1.65em;
	padding-left: 10px;
}

.widget-item li {
	padding: 10px;
	text-align: center;
	background-color: beige;
	margin-bottom: 10px;
}

.widget-item p:last-child {
	margin: 0;
}

.tagcloud a {
	background-color: beige;
	padding: 10px;
}

.tag-cloud-link {
	font-size: 12px;
	text-decoration: none;
}

.widget-title {
	padding: 20px 0px 0px 20px;
	padding-left: 10px;
	height: 50px;
	border-bottom: 1px dotted grey;
	text-transform: uppercase;
	letter-spacing: 1px;
}

